@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.card {
  width: 12vw;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Titan One", cursive;
  margin: 0.2rem;
  background-color: antiquewhite;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px lightblue;
  padding: 0.3rem 0rem;
  text-transform: uppercase;
  cursor: pointer;
}

.card img {
  /* max-width: auto; */
  padding: 0.5rem;
  height: 3rem;
  transition: all 0.5s;
}
.card:hover img {
  transform: scale(1.1);
}
.card:hover {
  box-shadow: 1px 5px 10px #2b24b2;
}
.card .list {
  /* list-style-type: none; */
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.9rem;
}
@media (max-width: 840px) {
  .card {
    font-size: 0.8rem;
  }
  .card .list {
    font-size: 0.5rem;
  }
}
@media (max-width: 590px) {
  .card {
    width: 100px;
  }
}
