.App {
  background-image: linear-gradient(
    to bottom right,
    rgb(248, 226, 183),
    rgb(241, 203, 134)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
